@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@import url("cats.css");

* {
    margin: 0.5px;
    padding: 0.5px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Mochiy Pop One', sans-serif;
}

:root {
    --bg-color: #F2EDDF;
    --second-bg-color: #26201C;
}

ol, ul {
	list-style: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_menu_link {
    color: var(--second-bg-color);
    padding: 1.5em;
}

.menu_hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
}

.options {
    display: none;
}

.options-item {
    padding: 0 1em;
    text-transform: uppercase;
}

.options-link {
    text-decoration: none;
    color: var(--second-bg-color);
}

.list-menu{
    display: none;
    position: absolute;
    top: 100%;
}

.container-button:checked~.list-menu{
    display: block;
}

.container-button {
    display: none;
}

.list-menu__link{
    color: var(--bg-color);
    text-transform: uppercase;
}

.list-menu list,
.list-menu__item {
    padding: 1em;
    background-color: var(--second-bg-color)

}

.main-miaudote{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}   

.main-miaudote img{
    max-width: 80%;
    height: auto;
}

.cat-container{
    display: flex;
    justify-content: center;
    margin-bottom: -27px;
}

.cat-container img{
    transition: transform 0.3s ease-in-out;
}

.cat-container img:hover {
    transform: scale(1.1); 
}

.about-us {
    width: 50%;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #fff; 
    border: 2px solid var(--second-bg-color); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    color: var(--second-bg-color); 
}

.about-us h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--second-bg-color);
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
}

.title {
    text-align: center;
    padding: 30px;
    
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-row img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-row img:hover {
    transform: scale(1.1); 
}

.button-{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    max-height: 20%;
}

.button-adotar {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--second-bg-color);
    font-family: var(--second-bg-color);
    border: 3px solid var(--second-bg-color);
    width: 200px;
}

.button-adotar:hover{
    background-color: #F2C1AE;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}